# Python Data types

In [7]:
#1 string
x = "Hello World"
y = str("Hello")
print(x)
print(y)
print(type(x))
print(type(y))

Hello World
Hello
<class 'str'>
<class 'str'>

In [8]:
#2 integer
x = 1
y = int(10)
print(x)
print(y)
print(type(x))
print(type(y))

1
10
<class 'int'>
<class 'int'>

In [9]:
#3 float
x = 2.5
y = float(4.6)
print(x)
print(y)
print(type(x))
print(type(y))

2.5
4.6
<class 'float'>
<class 'float'>

In [10]:
#4 complex
x = 1j
y = complex(2j)
print(x)
print(y)
print(type(x))
print(type(y))

1j
2j
<class 'complex'>
<class 'complex'>

In [11]:
#5 list
x = [1,2,3,4]
y = list((1,2,3,4))
print(x)
print(y)
print(type(x))
print(type(y))

[1, 2, 3, 4]
[1, 2, 3, 4]
<class 'list'>
<class 'list'>

In [13]:
#6 tuple
x = (1,2,3,4)
y = tuple((1,2,3,4))
print(x)
print(y)
print(type(x))
print(type(y))

(1, 2, 3, 4)
(1, 2, 3, 4)
<class 'tuple'>
<class 'tuple'>

In [14]:
#7 range
x = range(6)
y = range(7)
print(x)
print(y)
print(type(x))
print(type(y))

range(0, 6)
range(0, 7)
<class 'range'>
<class 'range'>

In [16]:
#8 dictionary
x = {"name" : "John" , "age" : 34}
y = dict(name = "John" , age = 34)
print(x)
print(y)
print(type(x))
print(type(y))

{'name': 'John', 'age': 34}
{'name': 'John', 'age': 34}
<class 'dict'>
<class 'dict'>

In [17]:
#9 Set
x = {"a" , "b" , "c"}
y = set(("a" , "b" , "c"))
print(x)
print(y)
print(type(x))
print(type(y))

{'c', 'a', 'b'}
{'c', 'a', 'b'}
<class 'set'>
<class 'set'>

In [19]:
#10 frozen set
x = frozenset({"a" , "b" , "c"})
y = frozenset(("a" , "b" , "c"))
print(x)
print(y)
print(type(x))
print(type(y))

frozenset({'c', 'a', 'b'})
frozenset({'c', 'a', 'b'})
<class 'frozenset'>
<class 'frozenset'>

In [20]:
#11 boolean
x = True
y = bool(True)
print(x)
print(y)
print(type(x))
print(type(y))

True
True
<class 'bool'>
<class 'bool'>

The bytes() method returns an immutable bytes object initialized with the given size and data.

bytes() method returns a bytes object which is an immutable (cannot be modified) sequence of integers in the range 0 <=x < 256 .

Return a new "bytes" object, which is an immutable sequence of small integers in the range 0 <= x < 256, print as ASCII characters when displayed. bytes is an immutable version of bytearray â€“ it has the same non-mutating methods and the same indexing and slicing behavior.

In [24]:
#12 bytes
x = b"hello"
y = bytes(5)
print(x)
print(y)
print(type(x))
print(type(y))
print(bytes(x))

b'hello'
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
<class 'bytes'>
b'hello'

The bytearray() method returns a bytearray object which is an array of the given bytes.

Return a new array of bytes. The bytearray type is a mutable sequence of integers in the range 0 <= x < 256. It has most of the usual methods of mutable sequences, described in Mutable Sequence Types, as well as most methods that the bytes type has, see Bytes and Byte Array Methods.

In [25]:
#13 bytearray
x = bytearray(5)
y = bytearray(7)
print(x)
print(y)
print(type(x))
print(type(y))

bytearray(b'\x00\x00\x00\x00\x00')
bytearray(b'\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>
<class 'bytearray'>

The memoryview() function returns a memory view object of the given argument.

In [26]:
x = memoryview(bytes(5))
y = memoryview(bytes(6))
print(x)
print(y)
print(type(x))
print(type(y))

<memory at 0x7f6cbab79870>
<memory at 0x7f6cbab79d50>
<class 'memoryview'>
<class 'memoryview'>