Taking the input from the user there are two ways

1. input(prompt)
2. raw_input(prompt)

In [7]:
x = input("enter a number")

enter a number12

But the raw_input will not work because the another name of input is raw_input in python 3

Taking the input from the console is also the same there also the input method always works

In [11]:
num1 = int(input("enter a integer :"))
num2 = float(input("enter a floating point number : "))
num3 = input("enter a string : ")

enter a integer :12
enter a floating point number : 12.3
enter a string : hello

# Taking the mutiple values as a input in a single ine of code

first method is to use the raw input 2 times

In [12]:
x , y = input() , input()

1
2

second method is to use split() method

In [15]:
x , y = input().split()

1 2

Third method is to use the list comperhension

In [16]:
x , y = [int(x) for x in input().split()]

1 2

Note : while entering input please be careful that give a space after each input dont directky press enter

END parameter 
Print statement always gives a newline
but to avoide that we use the end parameter i will show you the difference

In [17]:
print("hello")
print("world")

hello
world

In [18]:
print("hello" , end = " ")
print("world")

hello world

# Python Input Methods for Competitive Programming

For this we use the built in libraries in python to increase the speed of python because comapred to c c++ and java it is slower

the methods like 
 1. sys.stdin
 2. stdout.write

In [37]:
import sys

price = sys.stdin.readline()

print(price)

There are some vulnerabilities in the input method they are 

1. variable name as input parameter
2. function name as input parameter

# String literal

1. \n 
2. ""

In [38]:
print("hello \n world")

hello
 world

In [39]:
print("hello")
print("")
print("world")

hello

world

This is the flush
flush parameter is used to flush (clear) the internal buffer/stream (or we can say it is used to flush the output stream), it has two values "False" and "True".

"False" is the default value i.e. if we don't use the flush parameter – then flushing of the stream will be False. If we specify "True" – stream flushes.

In [42]:
import time
 
count_seconds = 3
for i in reversed(range(count_seconds + 1)):
    if i > 0:
        print(i, end='>>>', flush = True)
        time.sleep(1)
    else:
        print('Stop')

3>>>2>>>1>>>Stop

In [43]:
from time import sleep

# output is flushed here
print("Hello, world!", end='', flush= True)
sleep(5)
print("Bye!!!")

Hello, world!Bye!!!

# Separator in python
" , "

In [44]:
x = "for"
print(" i am waiting ",x," for you!!!")

 i am waiting  for  for you!!!

# Formating the output in python

we can do it by % and {}

%d for int

%s for string

%f or %g for float

In [53]:
name  = "john"
age = 23
sal = 25000.0

print("Name : %s \nAge : %d\nSalary : %.1f"%(name,age,sal))
print("")
print("Name :{}\nAge : {}\nsalary: {}".format(name,age,sal))
print("")
print("Name :{0}\nAge : {1}\nsalary: {2}".format(name,age,sal))

Name : john
Age : 23
Salary : 25000.0

Name :john
Age : 23
salary: 25000.0

Name :john
Age : 23
salary: 25000.0