# String Concatenation

In [1]:
a = "1" + "2"
b = "Hello " + "world"
print(a)
print(b)
print(type(a))
print(type(b))

12
Hello world
<class 'str'>
<class 'str'>

# String repetition

In [2]:
a = "*" * 5
b = "Hello " * 7
print(a)
print(b)
print(type(a))
print(type(b))

*****
Hello Hello Hello Hello Hello Hello Hello
<class 'str'>
<class 'str'>

# Length of string

In [3]:
user_name = "Ravi"
length = len(user_name)
print(length)

4

# Taking input from the user

In [4]:
x = int(input("enter first number : "))
y = int(input("enter second number : "))
z = x + y
print(z)

enter first number : 10
enter second number : 20
30

# Accessing character in a string

In [7]:
user_name = "Ravi"
print(user_name[0])
print(user_name[1])
print(user_name[2])
print(user_name[3])

R
a
v
i

# Program to find all the index numbers of the characters in a string

In [8]:
user_name = "Ravi"
for index, char in enumerate(user_name):
    print("Current character", char, "position at", index )

Current character R position at 0
Current character a position at 1
Current character v position at 2
Current character i position at 3

# String Slicing

In [40]:
user_name = "Ramesh"
print(user_name[0:3])
print(user_name[2:])
print(user_name[:3])
print(user_name[0:7])
print(user_name[-6:])

Ram
mesh
Ram
Ramesh
Ramesh

# Type Conversion

In [36]:
a = 5.0
print(type(a))
a = int(a)
print(type(a))

<class 'float'>
<class 'int'>

In [41]:
a = input("enter a 4 digit number")
c = int(a[0]) + int(a[1]) + int(a[2]) + int(a[3])
print(c)

enter a 4 digit number3456
18